/* .hidden {
  display: none !important;
} */

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  width: 50%;
}

.column-full-m {
  flex-basis: 100%;
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }
.column-half {
  flex-basis: 50%%;
}
  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
} */
