@import "https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;600&family=Ubuntu:wght@400;500;700&display=swap";

body {
  font-size: 16px;
  font-family: Overpass, sans-serif;
  text-align: center;
  color: hsl(208deg, 49%, 24%);
}

div.row-red {
  color: white;
  height: 600px;
  padding-top: 3rem;
  background-image:
    linear-gradient(
      to bottom,
      #e66465,
      rgba(249, 75, 75, 0.673)
    ),
    url("../images/bg-pattern-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: 300%;
  background-position-x: center;
  background-position-y: center;
  border-bottom-left-radius: 6rem;
}

div.logo {
  text-align: left;
}

.fa-bars {
  font-size: 2rem;
}

.d-none,
.desktop,
.off {
  display: none;
}

div.column-full h1 {
  font-size: 2.6rem;
  font-weight: 300;
}

div.column-full p {
  font-size: 1.65rem;
  font-weight: 100;
  margin-top: 0.7rem;
  margin-bottom: 4rem;
}

div.column-full button {
  width: 45%;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 30px;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
}

button.start-b {
  background-color: white;
  color: #ff525d;
  border: solid 1px white;
}

button.learn-b {
  border: solid 1px white;
  background-color: transparent;
  color: white;
  margin-left: 0.5rem;
}

.menu-content,
.on {
  padding: 1.5rem;
  position: absolute;
  right: 1rem;
  left: 1rem;
  top: 7rem;
  width: 80%;
  margin: auto;
  background-color: rgb(255 255 255);
  color: hsl(208deg, 49%, 24%);
  font-size: 1.5rem;
  box-shadow: -1px 6px 24px 0 rgba(100, 100, 100, 0.75);
  border-radius: 7px;
}

.p-holder {
  cursor: pointer;
}

button.login-b,
button.reg-b {
  width: 60%;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 30px;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
}

.login-b {
  background-color: white;
  color: hsl(208deg, 49%, 24%);
  border: solid 1px white;
}

button.reg-b {
  color: white;
  background: linear-gradient(to right, #e66465, rgba(249, 75, 75, 0.673));
  border: none;
}

.arrow-down {
  width: 15px;
  /* stylelint-disable-next-line max-line-length */
  filter: brightness(0) saturate(100%) invert(69%) sepia(38%) saturate(3744%) hue-rotate(309deg) brightness(101%) contrast(108%);
}

.menu {
  padding: 1rem;
  background-color: rgb(232, 232, 234);
}

div.menu p {
  font-size: 1.3rem;
}

h1.design-h1 {
  margin: 4rem 0 2rem;
}

p.editor-p,
p.management-p,
p.infrastructure-p {
  font-size: 1.3rem;
  padding: 0 1.3rem;
  line-height: 2.3rem;
  color: grey;
  margin-top: 0;
}

p.infrastructure-p {
  color: white;
}

div.row-blue {
  background-color: hsl(237deg, 17%, 21%);
  background-image: url("../images/bg-pattern-circles.svg");
  background-size: 160%;
  background-position-y: -300px;
  background-position-x: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin: 12rem 0 0;
  height: 600px;
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;

  /* background-image: url("../images/illustration-phones.svg"); */
}

div.phones-img {
  position: absolute;

  /* bottom: 23rem; */
  top: -15rem;
  left: 0;
}

div.phones-img img {
  width: 100%;
}

div.phones-content {
  position: inherit;
  top: 8rem;
}
